<div id="popup1" class="overlay">
    <div class="popup">
      <h2>Upload do Arquivo</h2>
       <a class="close" href="#">&times;</a>
      <div class="content">
        <form action="{% url 'index'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            </br>
            <input id="customFile"  type="file" name="document" accept="*,.json, .yaml">
            </br>
            <button  id="btn" class="btn" value="Submit"  type="submit" >Gerar</button>
        </form>
     </div>
   </div>
</div>