  {% load static %}
  <header class="mb-auto">
    <div>

      <a class="nav-link fw-bold py-1 px-0" href= "{% url 'index' %}">
        <h3 class="float-md-start mb-0"> Test Plan </h3>
      </a>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{% url 'index' %}">Pagina Inicial</a>
        <a class="nav-link fw-bold py-1 px-0" href="{% url 'manual' %}">Manual de Uso</a>
        <a class="nav-link fw-bold py-1 px-0" href="{% url 'contato' %}">Contato </a>
      </nav>
    </div>
  </header>