
             <form method="post" action= >
                <table>
                    
                        
                            <tr>
                                <td> <input type="checkbox"  id="/artists" name="/artists"> /artists</td>
                                <td> <input type="checkbox"  id="get" > get</td>
                                
                            </tr>   
                        
                    
                </table>
                <div class="form-example">
                   <input type="submit" value="Subscribe!">
                </div>
             </form>
        