
            <form action="saida.html" method="post"> 
                <table>
                    
                        
                            <tr>
                                <td> <input type="checkbox"  id="/pets" name="/pets"> /pets</td>
                                <td> <input type="checkbox"  id="get" > get</td>
                                
                                    <td>tags</td>
                                    <td>No</td>
                                
                                    <td>limit</td>
                                    <td>No</td>
                                
                            </tr>
                        
                            <tr>
                                <td> <input type="checkbox"  id="/pets" name="/pets"> /pets</td>
                                <td> <input type="checkbox"  id="post" > post</td>
                                
                                    <td>pet</td>
                                    <td>Yes</td>
                                
                            </tr>
                        
                    
                        
                            <tr>
                                <td> <input type="checkbox"  id="/pets/{id}" name="/pets/{id}"> /pets/{id}</td>
                                <td> <input type="checkbox"  id="get" > get</td>
                                
                                    <td>id</td>
                                    <td>Yes</td>
                                
                            </tr>
                        
                            <tr>
                                <td> <input type="checkbox"  id="/pets/{id}" name="/pets/{id}"> /pets/{id}</td>
                                <td> <input type="checkbox"  id="delete" > delete</td>
                                
                                    <td>id</td>
                                    <td>Yes</td>
                                
                            </tr>
                        
                    
                    </table>

                    <div class="form-example">
                        <input type="submit" value="Subscribe!">
                    </div>
            </form>
        