{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .sub_title {
    color: #86c2ff ;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    }
      
  .button2 {
      background-color: 008CBA; 
      color: #ffffff; 
      font-weight: 600;
      border: 2px solid #008CBA;
      border-radius: 2em;
      padding: 6px 12px;
    }

  .button2:hover, .button2:focus{
    background-color: #03759b78;
    border: 2px solid #03759b78;
    color: white;
    padding: 6px 12px;
  }

  a{
    text-decoration: none;
    color: #fff;  
  }
</style>

    <body>
        {% include 'partials/_downloaded.html' %}

        {% if msg == True %}
          {% include 'partials/_alert2.html' %}
        {% endif %}

    </body>

{% endblock %}