{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .infos{
        text-align: center;
        text-decoration: solid;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 0.9rem;
        }

    .div_infos{
        margin-top: 15px;
    }

    .h1{
        margin-top: 50px;
        text-align: center;
        color: #86c2ff;
    }

    .span{
        text-align: left;
        margin-left: -160px;
    }
    
    .text_area{
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .div_paths{
        background-color: rgb(73, 78, 78);
        margin-top: 15px;
        margin-bottom: 25px;
        padding: 25px;
        border-radius: 2%;
        text-align:left ;
    }

    .descricao_path {
        font-size:1.6em; 
        text-align:left; 
        color: #5e9cf4;
        display: inline;
        font-weight: bolder ;
    }

    .descricao_verb {
        display: inline;
        margin-left: 1em;
        font-size: 1.2em;
        font-weight: bolder;
        color: #6da7f7;
    }

    .descricao_campos {
        display: inline;
        margin-left: 3em;
        font-size: 1.1em;
        font-weight: bolder;
        color: #87b5f6;
    }

    .descricao_status {
        display: inline;
        margin-left: 3em;
        font-size: 1.1em;
        font-weight: bolder;
        color: #87b5f6;
    }

    
    .descricao_schema {
        display: inline;
        margin-left: 5em;
        font-size: 1.1em;
        font-weight: bolder;
        color: #87b5f6;
    }

    .p_paths{
        margin-left: 1em;
        margin-bottom: 1em;

    }

    .p_verbs{
        margin-left: 2em;
        margin-bottom: 1em;
    }

    .p_cmp{
        margin-left: 4em;
        margin-bottom: 1em;
    }

    .p_status{
        margin-left:4em;
        margin-bottom: 1em;
    }

    .p_schema{
        margin-left: 6em;
        margin-bottom: 1em;
    }

    .form-control{
        margin-top: 1.5em;
        width: 100%;
    }

    .observacao{
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        border-radius: 2em;
    }

    .btn {
        margin: 0px;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      
    .button2 {
        background-color: rgb(159, 207, 248); 
        color: #343a40; 
        font-weight: 600;
        border: 2px solid rgb(159, 207, 248);
        border-radius: 2em;
      }
      
    .button2:hover, .btn2:focus{
        background-color: #008CBA;
        border: 2px solid  #008CBA;
        color: white;
      }

      .button3{
        background-color: #0099FF;
        color: #343a40; 
        font-weight: 600;
        border: 2px solid #0099FF;
        border-radius: 2em;
    }
    
    .button3:hover, .button3:focus{
        background-color: #0099FF;
        color: white;
      }

    .util{
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0.2em;
        padding-top: 0.2em;
    }
</style>

<!-- Observações Text Area -->
<script>
    function mostrarTextArea() {
    var divTextArea = document.getElementById("divTextArea");
    divTextArea.style.display = "block";
    }
</script>

<!-- Obtém o checkbox para selecionar todos -->
<script>
    function checkAll() {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = true;
    }
    }

    function limpacheckAll() {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = false;
    }
    }
</script>

    <div>
        <h1 class="h1"> {{ title }} </h1>
        <div class="div_infos">
            <h6 class="infos"> Version: {{ version }}</h6>
            <h6 class="infos"> Base URL: {{ host_base_path }}</h6>
        </div>

        <form method="post" action="{% url 'confirm' %}"  enctype="application/x-www-form-urlencoded">
            {% csrf_token %}

            {% with seq=0 %}
            <div id="count" >
                <div> 
                    <button class="button2 util" type="button" onclick="checkAll()">Selecionar Todos</button>
                    <button class="button2 util" type="button" onclick="limpacheckAll()">Limpar Todos</button>
                </div>

                <!-- Paths -->
                    {% for path, path_object in paths.items %}
                    <div class="div_paths">
                    {% with seq|add:1 as seq %}
                            {% include 'partials/_checkout_path.html' with path=path %}
                            <!-- Verbs -->
                                {% for verb, verb_object in path_object.items %}
                                    {% with seq|add:1 as seq %}
                                        {% include 'partials/_checkout_verbs.html' with verb=verb cor=cor %}
                                        
                                        <!-- Lista dos Campos Obrigatórios e opcionais -->
                                        {% for parameter in verb_object.parameters %}
                                            {% include 'partials/_checkout_cps_obri.html' with item=parameter.name parameter=parameter type=parameter.type %}
                                        {% endfor %}

                                        {% with seq|add:1 as seq %}
                                        <!-- Lista dos Status Codes -->
                                        {% for status, status_object in verb_object.responses.items %}
                                            {% include 'partials/_checkout_status_code.html' with status=status %}
                                        
                                            <!-- Lista dos Schemas -->
                                            {% for schema, schema_objets in status_object.items %}
                                                {% if schema == "schema" %}
                                                    {% include 'partials/_checkout_schema.html' with schema_objets=schema_objets %}
                                                {% endif %}
                                               
                                            {% endfor %}
                                        {% endfor %}
                                        {% endwith %}
                                    {% endwith %}
                                {% endfor %}
                    {% endwith %}
                    </div>
                    {% endfor %}
            
            </div>
            {% endwith %}
            
            <button class="button2 observacao" type="button" onclick="mostrarTextArea()"> Adicionar Observações</button>
            <br>
            <div class=""  id="divTextArea" style="display:none;">
                {% include 'partials/_checkout_text_area.html' %}
            </div>    
            <br>
            <div>
                <button  class="button3 observacao" type="submit" value="gerador"> Gerar Plano </button>
            </div>
        </form>
    </div>
    
{% endblock %}

