{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  h1{
    color: #86c2ff ;
  }

  .button2 {
    background-color: 008CBA; 
    color: #ffffff; 
    font-weight: 600;
    border: 2px solid rgba(0, 139, 186, 0.305);
    border-radius: 2em;
    padding: 0.5em 2em;
    text-decoration: none;  
  }

  .button2:hover, .button2:focus{
    background-color: #0066CC;
    border: 2px solid #03759b78;
    color: white;
    padding: 0.5em 2em;
    text-decoration: none;
  }

  .info{
     font-size: 14px;
     background-color: #2094f4;
     padding: 0.5em 2em;
     border-radius: 2em;
     margin-top: 5em;
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
   }
</style>

  <main class="px-3">
    <h1>Plano de Teste de API</h1>
    <p class="lead">Para iniciar selecione um arquivo de especificação de extensão .yaml ou .json </p>
    <p class="lead">
      <a href="#popup1" class="button2">Iniciar</a>
    </p>
  </main>
  <body>
      {% include 'partials/_forms.html' %}
      {% if msg == True %}
        {% include 'partials/_alert2.html' %}
      {% endif %}
    </body>
<div class="info" >
    Primeira vez na ferramenta? Acesse o <a href="{% url 'manual' %}"> Manual de Uso </a> em que possui arquivos de especificação de exemplo para testar
    a ferramenta.
</div>
{% endblock %}

