{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main class="px-3">
    <h1>Plano de Teste de API</h1>
    <p class="lead">Para iniciar selecione um arquivo de especificação de extensão .yaml e .json </p>
    <p class="lead">
      <a href="#popup1" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Iniciar</a>
    </p>

  </main>

    <body>
        {% include 'partials/_forms.html' %}
        {% if msg == True %}
            {% include 'partials/_alert2.html' %}
        {% endif %}
    </body>
{% endblock %}

