{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>

    details {
        background-color: rgb(44, 47, 47);
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 25px;
        border-radius: 2em; 
    }
    .div_paths{
        background-color: rgb(73, 78, 78);
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 25px;
        border-radius: 2em;
    }

    summary{
        text-align: left;
        font-style: inherit;
        font-size: large;
        margin-bottom: 15px;
    }

    .description{
        text-align: left;
    }

    ul  { 
        width:auto; 
        margin:auto; 
        text-align:left; 
        display:block; 
    }

    li {
        overflow:hidden; 
        font-size:1em; 
        text-align:left; 
        margin-bottom: 10px;
    }

    .btn {
        margin: 0px;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      
    .button2 {
        background-color: rgb(159, 207, 248); 
        color: #343a40; 
        font-weight: 600;
        border: 2px solid rgb(159, 207, 248);
        border-radius: 2em;
      }
      
    .button2:hover, .btn2:focus{
        background-color: #008CBA;
        border: 2px solid  #008CBA;
        color: white;
      }

      .button3{
        background-color: #0099FF;
        color: #343a40; 
        font-weight: 600;
        border: 2px solid #0099FF;
        border-radius: 2em;
    }
    
    .button3:hover, .button3:focus{
        background-color: #0099FF;
        color: white;
      }

    .texto-italico {
        font-style: italic;
        font-size: small;
        text-align: left;
      }

    a {
        text-decoration: none;
    }
</style>

<script>
    function downloadFile() {
        var fileUrl = document.getElementById('fileUrl').value;
        if (fileUrl) {
          var link = document.createElement('a');
          link.href = fileUrl;
          link.download = '';
          link.click();
        } else {
          console.log('Please enter a file URL');
        }
      }
</script>

<h1> Manual de Uso </h1>
<div class="div_paths">
    <section>
        <details>
            <summary> O que é Test Plan? </summary>
            <p  class="description">
                O Test Plan trata-se de um protótipo de ferramenta para geração de Planos de Teste de APIs,
                visando auxiliar os profissionais de qualidade em sua rotina de trabalho.  
                O objetivo da ferramenta é auxiliar o usuário a gerar os testes de API seguindo a especificação e diminuir o
                tempo investido na geração do plano de testes de API.
            </p>
        </details>
        <details>
            <summary> Requisitos para utilizar a ferramenta? E o que é arquivo de especificação?</summary>
            <p class="description">
                Para utlizar a ferramenta é necessário realizar upload de um arquivo de especificação. Este arquivo também 
                pode ser conhecido popularmente como Swagger, mas se trata de um padrão estabelecido pela OpenAPI Specification (OAS) que define uma 
                descrição de interface padrão independente de linguagem de programação para APIs HTTP. 
                A aplicação é compativel com as extensões .yaml e .json.
            </p>
        </details>
        <details>
            <summary> Como utilizar a ferramenta? </summary>
            <p class="description">
                Passo a passo para utilizar a ferramenta: 
                <ul>
                    <li> 1 - Necessário realizar upload de um arquivo de especificação. Na Página Inicial teremos o botão 'Iniciar'. Ao clicar 
                        nele será aberto um pop-up. Para selecionar o arquivo de especificação. Depois de ter escolhido o arquivo se especificação, 
                        para gerar o plano de teste é só selecionar o botão 'Gerar' para ser direcionado para a página de escolher os cenários.  
                    </li>
                    <li> 2 - Na página de escolher os cenários para a geração do plano de testes serão listados todos os itens e as validações sugeridas 
                        pelo Test Plan. Também será disponibilizada a opção de adicionar um comentário no plano de teste. Após a escolha de todos os cenários
                        é só clicar em 'Gerar Plano' para ser direcionado para a página de confirmação. 
                    </li>
                    <li> 3 - Na página de confirmação serão listados todos os cenários escolhidos pelo usuário. Desta forma é possivel validar todos os 
                        componentes da aplicação que foram selecionados para formar o plano de testes, para continuar é necessário clicar em 'Confirmar'
                        para ser direcionado para a página de Download. 
                    </li>
                    <li> 4 - Na página de Download é disponibilizado uma opção de realizar o 'Download PDF', em que realizará o download do arquivo. 
                    </li>
                </ul>
            </p>
        </details>

        <details>
            <summary> Não consigo realizar o upload do arquivo: </summary>
            <p class="description">
                É realizado algumas validações para que só seja realizado o upload de arquivos que tenham a extensões .yaml ou .json e que
                estejam conforme o padrão estabelecido pela OpenAPI Specification (OAS). Alguns possíveis motivos para estarem ocorrendo estes 
                problemas de upload: 
                    <section>
                        <details><summary> Extensão não compatível? </summary>
                            <p  class="texto-italico" > Verifique a extesão do arquivo que deseja realizar upload. </p>
                        </details>
                        <details><summary> Atenção! Selecione um arquivo para realizar o upload! </summary>
                            <p class="texto-italico"> Selecione um arquivo para realizar o upload, provavelmente não tem nenhum arquivo selecionado para realizar o upload.</p>
                        </details>
                        <details><summary> Atenção! Revise o arquivo, sintaxe errada! </summary>
                            <p class="texto-italico"> O arquivo selecionado possui algum erro de sintaxe.</p>
                        </details>
                        <details><summary> Atenção! Selecione um arquivo de especificação conforme a OPEN API para realizar o upload! </summary>
                            <p class="texto-italico"> O arquivo selecionado apesar de ser um arquivo de extensão .json ou .yaml não segue o padrãode especificação 
                                da OPEN API, verifique e tente novamente com um arquivo conforme as especificações da OPEN API.</p>
                            </details>
                    </section>
            </p>
        </details>
        <details>
            <summary> Quais campos são contemplados pela ferramenta atualmente? </summary>
            <p class="description">
                <p class="texto-italico"> <strong> Endpoints (paths): </strong> Uma rota é o “nome” que você usa para acessar os endpoints, usado na URL.</p>
                    </br>
                <p class="texto-italico"> <strong> Métodos (verb): </strong> O protocolo HTTP define um conjunto de métodos de requisição responsáveis
                     por indicar a ação a ser executada para um dado recurso, a forma que realizamos a requisição.</p>
                    </br>  
                <p class="texto-italico"> <strong> Campos obrigatórios e opcionais (params and querys): </strong> Os dados utilizados nas requisições,
                     podendo ser obrigatórios ou opcionais.</p>
                    </br>                  
                <p class="texto-italico"> <strong> Contrato (schemas): </strong> É o objeto de retorno de uma requisição.</p>
            </p>
        </details>
        <details>
            <summary> Como funcionam as Métricas? </summary>
            <p class="description">
                As métricas são comportas por quatro indicadores:
                <br/>
                <p class="texto-italico"> -> <strong>Itens totais:</strong> Este indicador é gerado pela quantidade total de itens que a ferramenta contempla 
                e extraídos da especificação para realizar a geração de planos. </p>

                <p class="texto-italico"> -> <strong> Itens selecionados:</strong> Este indicador é gerado pela quantidade total de itens que tem alguma validação
                     compondo o plano de teste.</p>

                <p class="texto-italico">-> <strong> Total de Testes Funcionais:</strong> Este indicador é gerado pela quantidade total de validações selecionadas.</p>

                <p class="texto-italico"> -> <strong> Total de cobertura:</strong> Este indicador é gerado com o total de itens que foram extraídos da especificação e a 
                quantidade de itens que foram selecionados para serem validados. </p>
            </p>
        </details>

    </section>
</div>

<div class="div_paths">
   <h4> Arquivos de Especificação</h4>

   Alguns arquivos de especificações que podem ser usados para validar a aplicação:
   <br/>
   <br/>
   <a href="../media/arquivos_exemplos/petshop.json" download>
    <button class="button2 ">Especificaçao 1</button>
  </a>

  <a href="../media/arquivos_exemplos/mybank.json" download>
    <button class="button2 ">Especificaçao 2</button>
  </a>
  <br/>
</div>

{% endblock %}
