{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>

    details {
        background-color: rgb(44, 47, 47);
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 25px;
        border-radius: 2em; 
    }
    .div_paths{
        background-color: rgb(73, 78, 78);
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 25px;
        border-radius: 2em;
    }

    summary{
        text-align: left;
        font-style: inherit;
        font-size: large;
        margin-bottom: 15px;
    }

    .description{
        text-align: left;
    }

    ul  { 
        width:auto; 
        margin:auto; 
        text-align:left; 
        display:block; 
    }

    li {
        overflow:hidden; 
        font-size:1em; 
        text-align:left; 
        margin-bottom: 10px;
    }

    .btn {
        margin: 0px;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      
    .button2 {
        background-color: rgb(159, 207, 248); 
        color: #343a40; 
        font-weight: 600;
        border: 2px solid rgb(159, 207, 248);
        border-radius: 2em;
      }
      
    .button2:hover, .btn2:focus{
        background-color: #008CBA;
        border: 2px solid  #008CBA;
        color: white;
      }

      .button3{
        background-color: #0099FF;
        color: #343a40; 
        font-weight: 600;
        border: 2px solid #0099FF;
        border-radius: 2em;
    }
    
    .button3:hover, .button3:focus{
        background-color: #0099FF;
        color: white;
      }

    .texto-italico {
        font-style: italic;
        font-size: small;
        text-align: left;
      }

    a {
        text-decoration: none;
    }
</style>

<script>
    function downloadFile() {
        var fileUrl = document.getElementById('fileUrl').value;
        if (fileUrl) {
          var link = document.createElement('a');
          link.href = fileUrl;
          link.download = '';
          link.click();
        } else {
          console.log('Please enter a file URL');
        }
      }
</script>

<h1> Manual de Uso </h1>
<div class="div_paths">
    <section>
        <details>
            <summary> O que é Test Plan? </summary>
            <p  class="description">
                O Test Plan é um protótipo de uma ferramenta destinada à geração de Planos de Teste de APIs. Seu propósito é auxiliar profissionais de qualidade em 
                suas atividades diárias. O objetivo principal dessa ferramenta é ajudar o usuário a criar testes de API de acordo com as especificações, reduzindo o 
                tempo necessário para elaborar o plano de testes de API.
            </p>
        </details>
        <details>
            <summary> Requisitos para utilizar a ferramenta? E o que é arquivo de especificação?</summary>
            <p class="description">
                A fim de utilizar a ferramenta, alguns requisitos são necessários. Primeiramente, é preciso ter um arquivo de especificação.
                Esse arquivo descreve detalhadamente a interface de uma API, incluindo os endpoints, parâmetros, métodos e outras informações relevantes. 
                O formato mais comum para esse arquivo é o Swagger, que segue o padrão estabelecido pela OpenAPI Specification (OAS). 
                Essa especificação define uma linguagem de descrição de API independente de linguagem de programação.
                <br/>
                Além do arquivo de especificação, é importante ter conhecimento sobre a estrutura da API que está sendo testada. 
                Isso inclui entender os diferentes endpoints, os dados esperados em cada requisição, os parâmetros de autenticação, entre outros detalhes específicos da API em questão.
                <br/>
                Portanto, os requisitos para utilizar a ferramenta são:
                <br/>
                1 - Um arquivo de especificação, preferencialmente no formato Swagger (.yaml ou .json);
                <br/>
                2 - Conhecimento sobre a estrutura da API a ser testada.
            </p>
        </details>
        <details>
            <summary> Como utilizar a ferramenta? </summary>
            <p class="description">
                Passo a passo para utilizar a ferramenta: 
                <ul>
                    <li> 
                        1 - Faça o upload de um arquivo de especificação: Na página inicial, clique no botão "Iniciar" para abrir um pop-up onde você poderá selecionar 
                        o arquivo de especificação. Após escolher o arquivo, clique em "Gerar" para ser direcionado à página de seleção de cenários.
                    </li>

                    <li>
                        2 - Escolha os cenários para geração do plano de testes: Na página de seleção de cenários, serão listados todos os itens e as validações sugeridas
                         pelo Test Plan. Você também terá a opção de adicionar comentários ao plano de teste. Após escolher todos os cenários desejados, clique em 
                         "Gerar Plano" para ser direcionado à página de confirmação.
                    </li>

                    <li>
                        3 - Confirme os cenários escolhidos: Na página de confirmação, serão listados todos os cenários selecionados por você. Verifique se todos os componentes
                         da aplicação estão corretos no plano de testes. Para prosseguir, clique em "Confirmar" para ser direcionado à página de download.
                    </li>

                    <li>
                        4- Faça o download do plano de testes: Na página de download, você encontrará a opção de "Download PDF" para baixar o arquivo contendo o plano de 
                        testes.
                    </li>
                </ul>
            </p>
        </details>

        <details>
            <summary> Não consigo realizar o upload do arquivo: </summary>
            <p class="description">
                É realizado algumas validações para que só seja realizado o upload de arquivos que tenham a extensões .yaml ou .json e que
                estejam conforme o padrão estabelecido pela OpenAPI Specification (OAS). Alguns possíveis motivos para estarem ocorrendo estes 
                problemas de upload: 
                    <section>
                        <details><summary> Extensão não compatível? </summary>
                            <p  class="texto-italico" > Verifique a extesão do arquivo que deseja realizar upload. </p>
                        </details>
                        <details><summary> Atenção! Selecione um arquivo para realizar o upload! </summary>
                            <p class="texto-italico"> Selecione um arquivo para realizar o upload, provavelmente não tem nenhum arquivo selecionado para realizar o upload.</p>
                        </details>
                        <details><summary> Atenção! Revise o arquivo, sintaxe errada! </summary>
                            <p class="texto-italico"> O arquivo selecionado possui algum erro de sintaxe.</p>
                        </details>
                        <details><summary> Atenção! Selecione um arquivo de especificação conforme a OPEN API para realizar o upload! </summary>
                            <p class="texto-italico"> O arquivo selecionado apesar de ser um arquivo de extensão .json ou .yaml não segue o padrão de especificação 
                                da OPEN API, verifique e tente novamente com um arquivo conforme as especificações da OPEN API.</p>
                            </details>
                    </section>
            </p>
        </details>
        <details>
            <summary> Quais campos são contemplados pela ferramenta atualmente? </summary>
            <p class="description">
                <p class="texto-italico"> <strong> Endpoints (paths): </strong> Representam as rotas ou "nomes" utilizados para acessar os endpoints na URL..</p>
                    </br>
                <p class="texto-italico"> <strong> Métodos (verb): </strong> Seguem o protocolo HTTP e indicam a ação a ser executada para um determinado recurso, definindo a forma
                     como a requisição é realizada..</p>
                    </br>  
                <p class="texto-italico"> <strong> Campos obrigatórios e opcionais (params and querys): </strong> Referem-se aos dados utilizados nas requisições, podendo ser obrigatórios
                     ou opcionais, dependendo dos parâmetros e das consultas especificados..</p>
                    </br>                  
                <p class="texto-italico"> <strong> Contrato (schemas): </strong> Representa o objeto de retorno de uma requisição, ou seja, a estrutura e os campos esperados na resposta.</p>
            </p>
        </details>
        <details>
            <summary> Como funcionam as Métricas? </summary>
            <p class="description">
                As métricas são compostas por quatro indicadores:
                <br/>
                <p class="texto-italico"> -> <strong>Itens totais:</strong> Este indicador é gerado pela quantidade total de itens presentes na especificação, 
                    que são extraídos para a geração de planos de teste. </p>

                <p class="texto-italico"> -> <strong> Itens selecionados:</strong> Este indicador é gerado pela quantidade total de itens que foram selecionados para compor a geração 
                    de planos de teste.</p>

                <p class="texto-italico">-> <strong> Total de Testes Funcionais:</strong> Esse indicador é obtido a partir da contagem total de validações selecionadas, que representam os
                     testes funcionais a serem executados. </p>

                <p class="texto-italico"> -> <strong> Total de cobertura:</strong> Esse indicador é calculado considerando o número total de itens extraídos da especificação e a quantidade de itens
                     selecionados para serem validados. Ele representa a cobertura do plano de teste em relação à especificação. </p>
            </p>
        </details>

    </section>
</div>

<div class="div_paths">
   <h4> Arquivos de Especificação</h4>

   Alguns arquivos de especificações que podem ser usados para validar a aplicação:
   <br/>
   <br/>
   <a href="../media/arquivos_exemplos/petshop.json" download>
    <button class="button2 ">Especificaçao 1</button>
  </a>

  <a href="../media/arquivos_exemplos/mybank.json" download>
    <button class="button2 ">Especificaçao 2</button>
  </a>
  <br/>
</div>

{% endblock %}
